<app-nav-bar></app-nav-bar>
<div class="ui-g">
    <div class="ui-lg-6 ui-md-6 ui-sm-12">
        <button pButton type="button" class="backBtnStyle" (click)="routeToGrnList()"
            style="width:45%;margin-left:30%;background: #479761;; " label="Back"></button>
    </div>
</div>

<div class="ui-g">
    <div class="ui-g-1">
    </div>
    <div class="ui-g-10">

        <p-card [style]="{
                width: '100%',
                'font-size': '16px',
              
                'margin-top':'60px'
              }">

            <h4 style="text-align: center;color: green; font-weight: bold">GRN DETAILS:</h4>
            <hr style="height:2px;width:100%;background-color:green; margin-left: 1px;" />

            <form class="ui-g ui-fluid" #myForm="ngForm" (ngSubmit)="submitGrn(myForm.value,myForm);">


                <div class="ui-g-6 ui-lg-4 ui-sm-12 ui-md-12">
                    <div class="ui-inputgroup">
                        <label style="margin-right: 20px;font-weight: bold;"> Company:
                        </label>
                        <span>{{grn.company.name}}</span>

                    </div>

                </div>




                <div class="ui-g-6 ui-lg-4 ui-sm-12 ui-md-12">
                    <div class="ui-inputgroup">
                        <label style="margin-right: 20px;font-weight: bold;"> Invoice:
                        </label>
                        <span>{{grn.invoice}}</span>

                    </div>



                </div>

                <div class="ui-g-6 ui-lg-4 ui-sm-12 ui-md-12">
                    <div class="ui-inputgroup">
                        <label style="margin-right: 20px;font-weight: bold;"> Received By:
                        </label>
                        <span>{{grn.receivedBy}}</span>

                    </div>

                </div>

                <div class="ui-g-6 ui-lg-4 ui-sm-12 ui-md-12">
                    <div class="ui-inputgroup">
                        <label style="margin-right: 20px;font-weight: bold;"> Product Name:
                        </label>
                        <span>{{grn.productName}}</span>

                    </div>
                </div>

                <div class="ui-g-6 ui-lg-4 ui-sm-12 ui-md-12">
                    <div class="ui-inputgroup">
                        <label style="margin-right: 20px;font-weight: bold;"> Packing:
                        </label>
                        <span>{{grn.packing}}</span>

                    </div>

                </div>
                <div class="ui-g-6 ui-lg-4 ui-sm-12 ui-md-12">
                    <div class="ui-inputgroup">
                        <label style="margin-right: 20px;font-weight: bold;"> Req Quantity:
                        </label>
                        <span>{{grn.requiredQuantity}}</span>

                    </div>


                </div>

                <div class="ui-g-6 ui-lg-4 ui-sm-12 ui-md-12">
                    <div class="ui-inputgroup">
                        <label style="margin-right: 20px;font-weight: bold;"> Bonus Quantity:
                        </label>
                        <span>{{grn.bonusQuantity}}</span>

                    </div>

                </div>


                <div class="ui-g-6 ui-lg-4 ui-sm-12 ui-md-12">
                    <div class="ui-inputgroup">
                        <label style="margin-right: 20px;font-weight: bold;"> Box Tip:
                        </label>
                        <span>{{grn.boxTip}}</span>

                    </div>

                </div>
                <div class="ui-g-6 ui-lg-4 ui-sm-12 ui-md-12">
                    <div class="ui-inputgroup">
                        <label style="margin-right: 20px;font-weight: bold;"> Discount:
                        </label>
                        <span>{{grn.discount}}</span>

                    </div>

                </div>

                <div class="ui-g-6 ui-lg-4 ui-sm-12 ui-md-12">
                    <div class="ui-inputgroup">
                        <label style="margin-right: 20px;font-weight: bold;"> Discount Amount:
                        </label>
                        <span>{{grn.discountedAmount}}</span>

                    </div>

                </div>



                <div class="ui-g-6 ui-lg-4 ui-sm-12 ui-md-12">
                    <div class="ui-inputgroup">
                        <label style="margin-right: 20px;font-weight: bold;"> Box Rate:
                        </label>
                        <span>{{grn.boxRate}}</span>

                    </div>


                </div>
                <div class="ui-g-6 ui-lg-4 ui-sm-12 ui-md-12">
                    <div class="ui-inputgroup">
                        <label style="margin-right: 20px;font-weight: bold;"> Product TotalAmount:
                        </label>
                        <span>{{grn.productTotalAmount}}</span>

                    </div>


                </div>



            </form>

        </p-card>
    </div>
</div>