<app-nav-bar></app-nav-bar>

<div class="ui-g-12 ui-g">
    <div class="ui-lg-6 ui-md-6 ui-sm-12">
        <button pButton type="button" class="backBtnStyle" (click)="backToMonitor()"
            style="width:45%;margin-left:30%;background: #479761;; " label="Back"></button>
    </div>

    <div class="ui-lg-6 ui-md-6 ui-sm-12">
        <button pButton type="button" class="backBtnStyle" (click)="routeToGrn()"
            style="width:45%;margin-left:30%;background: #479761;; " label="Add New GRN"></button>
    </div>
</div>
<p-card header="" [style]="{  width: '84%',
'font-size': '20px',
'text-align': 'center',
color: 'green',
'margin-left':'8%',
'margin-top':'100px'
}">
    <p-toast></p-toast>


    <div class="ui-fluid">

        <p-table #dt [responsive]="true" [columns]="cols" [value]="grnData" [paginator]="true" [rows]="3"
            [totalRecords]="totalRecords">
            <ng-template pTemplate="caption">

                <div class="ui-g-12">
                    <h2 style="font-weight:bold;color: green;">GRN LIST</h2>
                    <hr style="background-color:rgb(11, 92, 58);height:3px;" />
                </div>
                <div style="text-align: right">
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText size="50" placeholder="Global Filter"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:30%" />
                </div>

            </ng-template>
            <ng-template pTemplate="header" let-columns>

                <tr>
                    <th *ngFor="let col of columns">
                        {{ col.header }}
                    </th>
                    <th style="text-align: center;">
                        Action
                    </th>
                </tr>
                <div *ngIf="loader" style="margin-left: 325%;">
                    <p-progressSpinner></p-progressSpinner>

                </div>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns">



                <tr class="hoverGrn" [pSelectableRow]="rowData">

                    <td title="show GRN details" (click)="gotoDetails(rowData['id'])" *ngFor="let col of columns"
                        style="overflow: auto;cursor: pointer;">
                        {{ rowData[col.field] }}
                    </td>
                    <td>

                        <button pButton [ngStyle]="{width:'100px',margin:'2px'}" type="button" label="Update"
                            class="ui-button-info" (click)="updateGrn(rowData['id'])"></button>
                        <button pButton [ngStyle]="{width:'100px',margin:'2px'}" type="button" label="Delete"
                            class="ui-button-danger" (click)="deleteGrn(rowData['id'])"></button>

                    </td>
                </tr>

            </ng-template>

        </p-table>
        <!-- <p-progressSpinner></p-progressSpinner> -->
    </div>
</p-card>