.heading{
    text-align: center;
    color: green;
    font-weight: bold;
    margin-top: 1%;
}

.makeBold{
    font-weight: bold !important;
    
}
.hoverGrn:hover{
    background-color:#479761 !important;
    color: white;
    }