<nav class="navbar navbarCss" style="padding:0px;">
  <div class="container-fluid" style="background-color:#479761">
    <div class="navbar-header">
      <a
        class="navbar-brand"
        style="color:white;font-weight: bold;text-align: center;"
        >BARKHIA HOSPITAL</a
      >
    </div>
  </div>
</nav>

<div class="area"></div>
<nav class="main-menu" style="margin-top: 40px;">
  <ul>
    <li style="margin-top: 50px">
      <a>
        <div style="width: 63px">
          <img src="assets/icons8-company-64.png" class="imgClass" />
        </div>
        <span class="nav-text">
          Add Company
        </span>
      </a>
    </li>
    <!-- icons8-syringe-48 -->
    <li style="margin-top: 13px !important;">
      <a>
        <div style="width: 63px">
          <img src="assets/icons8-account-48.png" class="imgClass" />
        </div>
        <span class="nav-text">
          Register Product
        </span>
      </a>
    </li>
    <li style="margin-top: 13px !important;">
      <a>
        <div style="width: 63px">
          <img src="assets/icons8-container-truck-48.png" class="imgClass" />
        </div>
        <span class="nav-text">
          Add GRN
        </span>
      </a>
    </li>
    <li style="margin-top: 13px !important;">
      <a>
        <div style="width: 63px">
          <img src="assets/icons8-pills-48.png" class="imgClass" />
        </div>
        <span class="nav-text">
          Add Drugs
        </span>
      </a>
    </li>
    <li style="margin-top: 13px !important;">
      <a>
        <div style="width: 63px">
          <img src="assets/icons8-graph-report-48.png" class="imgClass" />
        </div>
        <span class="nav-text">
          Add Stocks
        </span>
      </a>
    </li>
    <li style="margin-top: 13px !important;">
      <a>
        <div style="width: 63px">
          <img src="assets/icons8-user-40.png" class="imgClass" />
        </div>
        <span class="nav-text">
          User Management
        </span>
      </a>
    </li>
    <li style="margin-top: 13px !important;">
      <a>
        <div style="width: 63px">
          <img src="assets/icons8-dashboard-64.png" class="imgClass" />
        </div>
        <span class="nav-text">
          Dashboards
        </span>
      </a>
    </li>
    <li style="margin-top: 13px !important;">
      <a>
        <div style="width: 63px">
          <img src="assets/icons8-us-dollar-100.png" class="imgClass" />
        </div>
        <span class="nav-text">
          Sales
        </span>
      </a>
    </li>
  </ul>

  <ul style="margin-top: 150px">
    <li>
      <a>
        <div style="width: 63px">
          <img
            src="assets/icons8-shutdown-48.png"
            width="30px"
            height="30px"
            style="margin-left: 15px"
          />
        </div>
        <span class="nav-text">
          Logout
        </span>
      </a>
    </li>
  </ul>
</nav>
<app-sales-mainscreen></app-sales-mainscreen>
