

<nav class="navbar navbarCss" style="padding:0px !important;">
  <div class="container-fluid"  style="padding-left: 5px !important;background-color:#479761">
    <div style="margin:0px"  class="navbar-header">
      <a class="navbar-brand" style="color:white;font-weight: bold;text-align: center;"><img style="height:50px;" src="../../assets/logo1.jpg"> BARKHIA HOSPITAL</a>
    </div>
    
        <app-right-user-bar></app-right-user-bar>
  </div>
</nav>


<nav class="main-menu" style="margin-top: 60px;height: 100% !important;">
  <ul>

    <li style="margin-top: 50px;cursor: pointer;" (click)="routeToCompanylist()">
      <a>
        <div style="width: 63px">
          <img src="assets/icons8-company-64.png" class="imgClass" />
        </div>
        <span class="nav-text">
          Add Company
        </span>
      </a>
    </li>
   

    <li (click)="routetoproductregistrationlist()" style="margin-top: 13px !important;cursor: pointer;">
      <a>

        <div style="width: 63px">
          <img src="assets/icons8-account-48.png" class="imgClass" />
        </div>
        <span class="nav-text">
          Register Product
        </span>
      </a>
    </li>
    <li (click)="routeToGrn()" style="margin-top: 13px !important;cursor: pointer;">
      <a style="cursor: pointer">
        <div style="width: 63px">
          <img src="assets/icons8-container-truck-48.png" class="imgClass" />
        </div>
        <span class="nav-text">
          Add GRN
        </span>
      </a>
    </li>


    <li (click)=" routetodrugformationList()" style="margin-top: 13px !important;cursor: pointer;">
      <a>

        <div style="width: 63px">
          <img src="assets/icons8-pills-48.png" class="imgClass" />
        </div>
        <span class="nav-text">
          Add Drugs
        </span>
      </a>
    </li>
 
    <li [routerLink]="'/sales'" style="margin-top: 13px !important;cursor: pointer;">
      <a  class='active-page'>
        <div style="width: 63px">
          <img src="assets/icons8-us-dollar-100.png" class="imgClass" />
        </div>
        <span class="nav-text">
          Sales
        </span>
      </a>
    </li>
      <li (click)="logout()"
        style="margin-top: 13px !important;cursor: pointer;">
        <a>
          <div style="width: 63px">
            <img src="assets/icons8-shutdown-48.png"
              class="imgClass" />
          </div>
          <span class="nav-text">
            Logout
          </span>
        </a>
      </li>
  </ul>

</nav>





