<div class="ui-g">
    <div class="ui-g-2">
    </div>
    <div class="ui-g-8">

        <p-card [style]="{
            width: '100%',
            'font-size': '16px',
            color: 'green',
            'margin-top':'20px'
          }">

            <h4 style="text-align: center;color: green; font-weight: bold">GRN FORM:</h4>
            <hr style="height:2px;width:100%;background-color:green; margin-left: 1px;" />

            <form class="ui-g ui-fluid" #myForm="ngForm" (ngSubmit)="submitGrn(myForm.value)">


                <div class="ui-g-12 ui-lg-12 ui-sm-12 ui-md-12">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon spanWidth" style="width: 33%"> Company<i
                                style="color: red">*</i>
                        </span>
                        <p-dropdown [style]="{width: '617px',height:'40px'}" required [options]="companies"  name="company" ngModel></p-dropdown>
                    </div>

                </div>

                <div class="ui-g-12 ui-lg-12 ui-sm-12 ui-md-12">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon spanWidth" style="width: 33%"> Status<i
                                style="color: red">*</i>
                        </span>
                        <p-dropdown [style]="{width: '617px',height:'40px'}" required [options]="status"  name="status" ngModel></p-dropdown>
                    </div>

                </div>



                <div class="ui-g-12 ui-lg-12 ui-sm-12 ui-md-12">
                    <div class="ui-inputgroup">
                        <span style="width: 40%" class="ui-inputgroup-addon spanWidth"> Invoice<i
                                style="color: red">*</i></span>
                        <input style="width: 80%;text-indent:5px" type="text" required pInputText
                            placeholder=" Invoice No" ngModel name="invoice" />
                    </div>


                </div>

                <div class="ui-g-12 ui-lg-12 ui-sm-12 ui-md-12">
                    <div class="ui-inputgroup">
                        <span style="width: 40%" class="ui-inputgroup-addon spanWidth"> Received By:<i
                                style="color: red">*</i></span>
                        <input style="width:80%;text-indent:5px" ngModel type="text" required pInputText
                            name="receivedBy" placeholder=" Received By" />
                    </div>


                </div>

                <div class="ui-g-12 ui-lg-12 ui-sm-12 ui-md-12">
                    <div class="ui-inputgroup">
                        <span style="width: 40%" class="ui-inputgroup-addon spanWidth"> Product Name</span>
                        <input style="width:80%;text-indent:5px" ngModel type="text" pInputText
                            placeholder=" Product Name" name="productName" />
                    </div>

                </div>

                <div class="ui-g-12 ui-lg-12 ui-sm-12 ui-md-12">
                    <div class="ui-inputgroup">
                        <span style="width: 40%" class="ui-inputgroup-addon spanWidth"> Packing: <i
                                style="color: red">*</i></span>
                        <input style="width: 80%;text-indent:5px" ngModel type="text" pInputText required
                            placeholder=" Packing" name="packing" />
                    </div>

                </div>
                <div class="ui-g-12 ui-lg-12 ui-sm-12 ui-md-12">
                    <div class="ui-inputgroup">
                        <span style="width: 40%" class="ui-inputgroup-addon spanWidth">Req Quantity: <i
                                style="color: red">*</i></span>
                        <input style="width: 80%;text-indent:5px" ngModel type="text" pInputText required
                            placeholder=" Required Quantity" name="requiredQuantity" />
                    </div>

                </div>

                <div class="ui-g-12 ui-lg-12 ui-sm-12 ui-md-12">
                    <div class="ui-inputgroup">
                        <span style="width: 40%" class="ui-inputgroup-addon spanWidth">Bonus Quantity: <i
                                style="color: red">*</i></span>
                        <input style="width: 80%;text-indent:5px" ngModel type="text" pInputText required
                            placeholder=" Bonus Quantity:" name="bonusQuantity" />
                    </div>

                </div>


                <div class="ui-g-12 ui-lg-12 ui-sm-12 ui-md-12">
                    <div class="ui-inputgroup">
                        <span style="width: 40%" class="ui-inputgroup-addon spanWidth"> Box Tip: <i
                                style="color: red">*</i></span>
                        <input style="width: 80%;text-indent:5px" ngModel type="text" pInputText required
                            placeholder=" Box Tip" name="boxTip" />
                    </div>

                </div>
                <div class="ui-g-12 ui-lg-12 ui-sm-12 ui-md-12">
                    <div class="ui-inputgroup">
                        <span style="width: 40%" class="ui-inputgroup-addon spanWidth"> Discount: <i
                                style="color: red">*</i></span>
                        <input style="width: 80%;text-indent:5px" ngModel type="text" pInputText required
                            placeholder=" Discount" name="discount" />
                    </div>

                </div>

                <div class="ui-g-12 ui-lg-12 ui-sm-12 ui-md-12">
                    <div class="ui-inputgroup">
                        <span style="width: 40%" class="ui-inputgroup-addon spanWidth"> Disc Amount: <i
                                style="color: red">*</i></span>
                        <input style="width: 80%;text-indent:5px" type="text" ngModel pInputText required
                            placeholder=" Discounted Amount" name="discountAmount" />
                    </div>

                </div>


                <div class="ui-g-12 ui-lg-12 ui-sm-12 ui-md-12">
                    <div class="ui-inputgroup">
                        <span style="width: 40%" class="ui-inputgroup-addon spanWidth"> Product TotalAmount:
                            <i style="color: red">*</i></span>
                        <input style="width:80%;text-indent:5px" type="text" ngModel pInputText required
                            placeholder=" Product TotalAmount" name="productTotalAmount" />
                    </div>

                </div>
                <div class="ui-g-12 ui-lg-12 ui-sm-12 ui-md-12">
                    <div class="ui-inputgroup">
                        <span style="width: 40%" class="ui-inputgroup-addon spanWidth"> Box Rate: <i
                                style="color: red">*</i></span>
                        <input style="width:80%;text-indent:5px" ngModel type="text" pInputText required
                            placeholder=" Box Rate" name="boxRate" />
                    </div>

                </div>

                <div style="width:100%" class="ui-g-12">
                    <button style="width: 100%;" type="submit" [disabled]="myForm.invalid"
                        class="btn btn-success btn-block submitBtnStyle">
                        Submit
                    </button>
                </div>

            </form>

        </p-card>
    </div>
</div>